nav {
    width: 800px;
    margin: 0px auto;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding: 10px;
}

nav ul li:hover, .active-link {
    background-color: white;
    border-radius: 10px;
    color: black !important;
}